*{
    margin: 0;
    padding: 0;
}




.sidebar{
    background-color: rgb(228, 225, 225);
    width: 434px;
    height: 100vh;
}
.sidebar nav{
    padding: 25px;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 20px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: rgb(18, 18, 18);
}
.main{
    background-color: white;
    width: 86vw;
}
.container{
    display: flex;
}
.infocontainer{
    background-color: white;
    height: 58vh;
    width: 174vw;
    margin: 144px auto;
    display: flex;
    padding: 84px;
    
}
.devpic img{
    width: 324px;
    justify-content:space-around;
    align-items: center;
    padding:  150px;
    margin-top: -150px;
    height: 58vh;

    
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 45px;
    font-family: sans-serif;
}
.name{
    
    font-size: 60px;
    font-weight: bold;
    font-family: serif;
}
.about{
    font-size: 40px;
}
.buttons{
    padding: 25px;
    margin: -12px;
}
.btn{
    padding: 11px;
    font-size: 23px;
    margin: 12px;
    border-radius: 22px;
    color: white;
    font-weight: bold;
    background-color: dodgerblue;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
}
.contactform{
    padding-top: 144px;
    padding: 0 34px;
    font-family: sans-serif;
}
.contactform h1{
    font-family: serif;
    padding: 12px 0;
}
.contactform form div{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
    
#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
}
#form-check {
    flex-direction: row;


}
#form-check input{
    width: 24px;
    margin: 3px 0;
    
}
.blogitem{
    margin: 20px;
    font-family: sans-serif;

}
.blogcontainer h1{
    font-family: sans-serif;
    margin: 23px;
    
    
}
.blogitem p{
    font-family: serif;
    
}
.intro h2{
    font-family: sans-serif;
    margin: 12px;
}
.intro p{
    font-family: serif;
    margin: 12px;
}
.skillcontainer{
    padding: 12px;
}
.skillitem{
    
    align-items: center;
    
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
}

